[unit]
	#textdomain wesnoth-Legend_of_Wesmere
id=Elvish Elder
name=Elvish Elder
race=elf
image=elvish-Elder.png
movement=3
movement_type=woodland
	[resistance]
	blade=60
	impact=60
	pierce=60
	fire=60
	cold=70
	arcane=40
	[/resistance]
ability=leadership
hitpoints=44
alignment=neutral
 experience=100
level=2
cost=20
usage=fighter
unit_description=_"Elvish Elders are well armored, but not very fast and resilient. They used to be strong warriors and leaders whose skills have decreased with age"
get_hit_sound=groan.wav
	[attack]
	name=sword
	description=_"sword"
icon=attacks/sword-elven.png
	type=blade
	range=melee
	damage=7
	number=4
	#	[frame]
		#begin=-100
		#end=100
		#image=elvish-Elder-attack.png
		#[/frame]
		#[sound]
		#time=-250
		#sound=sword-1.ogg
		#[/sound]



 [animation]
            [frame]
                begin=-201
                end=-75
                image="elvish-Elder-attack.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    begin=-75
                    end=50
                    image="elvish-Elder.png"
                    sound={SOUND_LIST:SWORD_SWISH}
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    begin=-75
                    end=50
                    image="elvish-Elder.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
        [/animation]



	[/attack]
	[attack]
	name=bow
	description=_"bow"
	type=pierce
	range=ranged
	damage=6
	number=3
        icon=attacks/bow.png 
        [animation]
            hits=no
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/missile-n.png"
                image_diagonal="projectiles/missile-ne.png"
            [/missile_frame]
            [frame]
                begin=-500
                end=-300
                image="units/elvish-Elder.png"
                sound=bow-miss.ogg
            [/frame]
            [frame]
                begin=-300
                end=-150
                image="units/elvish-Elder.png"
#since no other picture of elvish-Elder
            [/frame]
            [frame]
                begin=-150
                end=-50
                image="units/elvish-Elder.png"
            [/frame]
            [frame]
                begin=-50
                end=100
                image="units/elvish-Elder.png"
            [/frame]
        [/animation]
        [animation]
            hits=yes
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/missile-n.png"
                image_diagonal="projectiles/missile-ne.png"
            [/missile_frame]
            [frame]
                begin=-500
                end=-300
                image="units/elvish-Elder.png"
                sound=bow.ogg
            [/frame]
            [frame]
                begin=-300
                end=-150
                image="units/elvish-Elder.png"
            [/frame]
            [frame]
                begin=-150
                end=-50
                image="units/elvish-Elder.png"
            [/frame]
            [frame]
                begin=-50
                end=100
                image="units/elvish-Elder.png"
            [/frame]
        [/animation]




















	#	[sound]
	#	time=-100
	#	sound=firearrow.wav
	#	[/sound]

	#	[sound]
	#	time=0
	#	sound=bow.ogg
	#	sound_miss=bow-miss.ogg
	#	[/sound]
	#	[frame]
	#	begin=-600
	#	end=-450
	#	image=elvish-Elder.png
	#	[/frame]
	#	[frame]
	#	begin=-450
	#	end=-300
		#image=elvish-Elder-attack.png
		#[/frame]
		
	[/attack]
[/unit]






 
