[scenario]
  	#textdomain wesnoth-Legend_of_Wesmere	
id=21_Elvish_Assasins
	name= _ "Elvish Assasins"
   {LOW_MAP 21_Elvish_Assasins.map}
	turns=16

{DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    
    next_scenario=22_Northern_Battle
    [story]
	music=underground.ogg
	[part]
	id=intro_1
	story= _ "After the council's decision, Kalenz and Cleodil retired in the North ..."

	delay=4000
		background="story/LOWmap.png"
show_title=yes
{CROSS 970 249}
	[/part]
	[part]
	id=intro_2
	story= _ "...but things were about to get interesting again..."
	delay=8000
		[/part]


[/story]



	[side]
	type=Elvish Fighter
	description=Kalenz
	side=1
	canrecruit=1
	controller=human
	recruit=Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman
	team_name=kalenz
	{GOLD 100 100 100}
[/side]
#define HIGH_PRIORITY_TARGETS
	[target]
	description=Kalenz 
#	value=100
 	value=200
	[/target]
#enddef


		[side]
	type=Elvish Ranger
	description=Antaril
	user_description=_ "Antaril"
	side=2
	canrecruit=1
	recruit=Elvish Fighter,Elvish Archer
	team_name=assasins
	{GOLD 200 320 350}
{HIGH_PRIORITY_TARGETS}
[/side]
	
[side]
	type=Elvish Captain
	description=Crintil
	user_description=_ "Crintil"
		side=3
canrecruit=1
#ifdef EASY
		recruit=Elvish Archer, Elvish Fighter
#endif

#ifdef NORMAL
		recruit=Elvish Archer, Elvish Fighter, Elvish Hero
#endif

#ifdef HARD
recruit=Elvish Archer, Elvish Fighter, Elvish Hero, Elvish Ranger
#endif

		{GOLD 200 320 380}
		team_name=assasins
{HIGH_PRIORITY_TARGETS}
		[ai]
			{NO_SCOUTS}
			recruitment_ignore_bad_movement=yes
		recruitment_pattern=archer,fighter,fighter,archer
		[/ai]
		[ai]
			time_of_day=dusk,first_watch,second_watch
			aggression=1.0 
			caution=0.0
			grouping=no
		[/ai]
		{INCOME 4 8 12}
	[/side]
	

		[side]
	type=Elvish Hero
	description=Oblil
	user_description=_ "Oblil"
		side=4
canrecruit=1
#ifdef EASY
		recruit=Elvish Archer, Elvish Fighter
#endif

#ifdef NORMAL
recruit=Elvish Archer, Elvish Fighter, Elvish Hero
#endif

#ifdef HARD
recruit=Elvish Archer, Elvish Fighter, Elvish Hero, Elvish Ranger
#endif

		{GOLD 100 120 150}
		team_name=assasins
{HIGH_PRIORITY_TARGETS}
		[ai]
			{NO_SCOUTS}
			recruitment_ignore_bad_movement=yes
			recruitment_pattern=archer,fighter,fighter,archer
		[/ai]
		[ai]
			time_of_day=dusk,first_watch,second_watch
			aggression=1.0
			caution=0.0
			grouping=no
		[/ai]
		{INCOME 4 8 12}
	[/side]

[item]
	x=1
	y=30
	image=scenery/signpost.png
	[/item]

[event]
        name=prestart
		[objectives]
		side=1
				[objective]
				description= _ "Kalenz reaches the signpost"
				condition=win
			[/objective]
						[objective]
				description= _ "Death of Kalenz"
				condition=lose
			[/objective]
									[objective]
				description= _ "Death of Cleodil"
				condition=lose
			[/objective]
			[objective]
				description= _ "Turns run out"
				condition=lose
			[/objective]
		[/objectives]
[recall]
			description=Andulias
		[/recall]

[recall]
description=Cleodil
[/recall] 
[/event]

[event]
	name=start
	[sound]
		name=horse-canter.wav
		[/sound]

                [move_unit_fake]
                        type=Elvish Scout
                        x=10,11,12,13,14,15
                        y=25,24,23,22,21,20 
                [/move_unit_fake]
 
		[unit]
		description=Gailetkis  
		user_description=_ "Gailetkis"  
		type=Elvish Scout 
		side=1
		x=15 
		y=20  
		facing=reverse
		[/unit]
#                {UNIT (Elvish Scout) (Eonihar) 1 15 3 }

#                [scroll_to_unit]
#                        description=Eonihar
#                        side=1
#                [/scroll_to_unit]

        [message]
        description=Gailetkis
user_description=_ "Gailetkis"
profile="portraits/eonihar.png"
message= _ "My Lord Kalenz, you are in great danger! You must get out immediately."
       [/message]
	[message]
		description=Kalenz
		message= _ "What?!"
		[/message]
		[message]
		description=Gailetkis
message= _ "Landar has taken control of the army. He eliminated the council and proclaimed himself Lord. What is worse, there is word out that he has already ordered your assasination."
		[/message]
		[message]
		id=msg1_4
		description=Crintil
		message= _ "Too late! All traitors will die!"
		[/message]
		[message]
		description=Kalenz 
	message= _ "Listen to me! We have fought and bled side by side.  We do not have to fight each other!"
		[/message]

		[message]
		description=Oblil 
message= _ "Do not listen to this traitor! You all have heard the order!"
		[/message]

        [message]
                description=Gailetkis
message= _ "You should try to reach Uraredia and the North Elves. He too, has refused to join Landar. Plus, word is that some troops still loyal to you are heading there."
                [/message]

[/event]
	
	[event]
	name=moveto
		[filter]
		x=1
		y=30
		description=Kalenz
		[/filter]
		[message]
		speaker=unit
	message= _ "Now we must head to the North Elves!"
		[/message]
		[endlevel]
		result=victory
		bonus=yes
		[/endlevel]
	[/event]
	
#[event]
#name=turn 2
#[endlevel]
	#	result=victory
#		bonus=yes
#		[/endlevel]
#	[/event]

{@campaigns/Legend_of_Wesmere/utils/deaths.cfg}
[/scenario]
