[scenario]
  		#textdomain wesnoth-Legend_of_Wesmere
id=29_Save_the_King
	name= _ "Save the King"
{LOW_MAP 29_Save_the_King.map}
	turns=30

{DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    
    next_scenario=30_Prince_of_Wesnoth
    [story]
	music=frantic.ogg
[part]
id=intro_1
story= _ "Following Delfador, the elves moved to unite with the Wesnoth forces and meet Zorlan head-on..."
delay=4000
background="story/LOWmap.png"
{DOT 705 319}
{DOT 782 387}
{CROSS 820 420}

	[/part]

        [part]
        id=intro_2
        story= _ "but the King was in an unenviable position..."
        delay=8000
                [/part]
[/story]


 
	[side]
	type=Elvish Fighter
	description=Kalenz
	side=1
	canrecruit=1
	controller=human
	recruit=Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman 
	team_name=kalenz
		[/side]
[side]
	type=Warrior King
	description=Garard
user_description=_ "Garard"
profile="portraits/garard.png"
	side=2
	canrecruit=1
	controller=ai
	team_name=kalenz
	recruit=Heavy Infantryman,Spearman,Bowman,Cavalryman,Horseman,Mage , Royal Guard, Shock Trooper, Swordsman
	{GOLD  400 460 600}
	{INCOME 0 2 2}
		[ai]
		#recruitment_pattern=fighter,archer
[protect_unit] 
 description=Garard
[/protect_unit]
		[/ai]
	[/side]

[side]
	type=Orcish Warlord
	description=Zorlan
user_description=_ "Zorlan"
profile="portraits/orcish_leader_191.png"
	side=3
	canrecruit=1
	controller=ai
	#ifdef EASY
        recruit=Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Goblin Pillager, Goblin Knight, Goblin Spearman
#endif

#ifdef NORMAL
        recruit=Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Goblin Knight, Orcish Slayer, Goblin Pillager, Goblin Spearman
#endif

#ifdef HARD
         recruit=Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Orcish Warrior, Goblin Knight, Goblin Pillager, Orcish Slayer, Goblin Spearman
#endif
		{GOLD 150 260 330}
		team_name=orcs
	[/side]
	[side]
	type=Orcish Warrior
	description=T'bhan
	user_description=_ "T'bhan"
	side=4
	canrecruit=1
	controller=ai
	#ifdef EASY
        recruit=Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Goblin Pillager, Goblin Knight, Goblin Spearman
#endif

#ifdef NORMAL
        recruit=Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Goblin Knight, Orcish Slayer, Goblin Pillager, Goblin Spearman
#endif

#ifdef HARD
         recruit=Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Orcish Warrior, Goblin Knight, Goblin Pillager, Orcish Slayer, Goblin Spearman
#endif
		{GOLD 150 230 300}
		team_name=orcs
	[/side]
[side]
	type=Orcish Warrior
	description=Qgthun
	user_description=_ "Qgthun"
	side=5
	canrecruit=1
	controller=ai

#ifdef EASY
        recruit=Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Goblin Pillager, Goblin Knight, Goblin Spearman
#endif

#ifdef NORMAL
        recruit=Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Goblin Knight, Orcish Slayer, Goblin Pillager, Goblin Spearman
#endif

#ifdef HARD
         recruit=Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Orcish Warrior, Goblin Knight, Goblin Pillager, Orcish Slayer, Goblin Spearman
#endif
		{GOLD 150 230 300}
		team_name=orcs
	[/side]
[side]
	type=Great Troll
	description=Trgrau
	user_description=_ "Trgrau"
	side=6
	canrecruit=1
	controller=ai
#ifdef EASY
        recruit=Troll Whelp
#endif
#ifdef NORMAL
		recruit=Troll Whelp,Troll,Troll Rocklobber
#endif

#ifdef HARD
		recruit=Troll Whelp,Troll,Troll Warrior,Troll Rocklobber
#endif

		{GOLD 150 230 300}
		team_name=orcs
	[/side]
	#[side]
	#type=Great Mage
	#description=Delfador
	#side=7
	#canrecruit=1
	#controller=human
	#recruit=Mage, Red Mage, White Mage, Shock Trooper , Heavy Infantryman,Spearman,Bowman
	#{GOLD 150 150 150}
#team_name=kalenz
#		[/side]
 [event]
	name=prestart
		[objectives]
		side=1
				[objective]
				description= _ "Defeat all enemies"
				condition=win
			[/objective]
							[objective]
				description= _ "Defeat Zorlan"
				condition=win
			[/objective]
						[objective]
				description= _ "Death of Kalenz"
				condition=lose
			[/objective]
									[objective]
				description= _ "Death of Cleodil"
				condition=lose
			[/objective]
						[objective]
				description= _ "Death of Delfador"
				condition=lose
			[/objective]
						[objective]
				description= _ "Death of Garard"
				condition=lose
			[/objective]
			[objective]
				description= _ "Turns run out"
				condition=lose
			[/objective]
		[/objectives]

		[recall]
			description=Andulias
		[/recall]

		[recall]
description=Cleodil
[/recall]
[recall]
description=Tameril-Isimeril
[/recall]

[recall]
description=Laril
[/recall]
[recall]
description=Arkildur
[/recall]
[recall]
description=Delfador
[/recall]
[recall]
description=Clogrin
[/recall]
[recall]
 description=Droni
[/recall]
[recall]
 description=Arthur
[/recall]
[recall]
    description=Theorsten
[/recall]
[recall]
          description=Igler
[/recall]
[recall]
     description=Larsin
[/recall]
[recall]
 description=Glen
[/recall]
[recall]
     description=Aldrin
[/recall]
	[/event]



[event]
	name=start

[message] 
		description=Delfador 
message= _  "It looks like we have arrived just in time! King Garard stands surrounded by the enemy."
		[/message]
		[message] 
		description=Kalenz 
message=  _  "It seems that we are too late. This new warlord has managed to unite the orcish tribes. Look at their army, it's huge!"
		[/message]
		[message] 
		description=Zorlan

message=  _  "Elves! I heard you have been looking for me! But you will save neither the human King, nor yourselves."
		[/message]
		[message]
		description=Kalenz
message=  _  "This must be their leader. We must destroy him now, before his power grows!"
		[/message]
[/event]


[event]
        name=victory
                        [message]
                speaker=Kalenz
                message= _ "Victory! "
                [/message]
                        [message]
                speaker=Garard

     message= _ "Delfador! And you, elvish friends! The kingdom of Wesnoth is in your debt today!"
                [/message]

          [message] 
                speaker=Delfador 
     message= _ "My King, this is Kalenz, Lord of the Elves."
                [/message]

          [message] 
                speaker=Garard 
     message= _ "You will be forever welcome in the court of Wesnoth."
                [/message]
          [message] 
                speaker=Kalenz 
     message= _ "We are happy to have fought by your side."
                [/message]
          [message] 
                speaker=Delfador 
     message= _ "King Garard, we have more urgent matters. Leollyn sent me on a mission to find out why the dead are restless. A foul necromancer has opened a portal to the land of the dead. This must be closed at all costs  and I am afraid my skills are insufficient for that task."
                [/message]
          [message] 
                speaker=Cleodil 
     message= _ "Kalenz, I feel Delfador is the chosen one. The one who can be trusted with the book. I believe the book will help him close that portal and eliminate the undead menace."
                [/message]

          [message] 
                speaker=Kalenz 
     message= _ "I agree. Never in my life have I met any human of his qualities. But I fear the book is cursed. It may bring lots of suffering to his holder and his people..."
                [/message]
          [message] 
                speaker=Cleodil 
     message= _ "Yes, that may be. But I feel if anyone can be trusted with the book, it's him. It should be his decision if he accepts it or not."
                [/message]


          [message] 
                speaker=Kalenz 
     message= _ "Delfador, our weapons are weak against the undead, but perhaps we may still be able to help. The elvish forests have seen many falls since Crelanu entrusted his book of magic to Cleodil. It contains a lot of knowledge, knowledge that it took Crelanu all his life to gather."
                [/message]
          [message] 
                speaker=Kalenz 
     message= _ "The book was entrusted to Cleodil, until someone worthy of it came along. We believe you are that one, Delfador. The book may help you find a way to close that portal."
                [/message]

          [message] 
                speaker=Delfador 
     message= _ "Friends, your words flatter me. I am not sure I am worthy of such a valuable possesion."
                [/message]
          [message] 
                speaker=Kalenz 
     message= _ "We are sure of that. But be warned, for we feel there is a curse to this book. Crelanu's advice brought a lot of destruction upon us, even though at the time we had no other choice..."
                [/message]
          [message] 
                speaker=Delfador 
     message= _ "I do not know if there is a curse to the book or not. All I know is that we must close that portal soon, or else we are all doomed."
                [/message]

          [message] 
                speaker=Kalenz 
     message= _ "This is a decision you will have to take. If we decide to fight the undead without the book's help, it will be an honor to fight by your side, no matter what the outcome."
                [/message]

          [message] 
                speaker=Delfador 
     message= _ "The way you put it I have no choice but to accept the book, for I cannot bring sure death to many humans and elves for fear of the book..."
                [/message]

          [message] 
                speaker=Cleodil 
     message= _ "Here it is, Delfador. May it help you bring a swift end to the undead menace and may its aquisiton lead you to happier times than it lead us..."
                [/message]


          [message] 
                speaker=Delfador 
     message= _ "Thank you friends. May we meet in happier times.  Now I must make haste, for I need to study the book and prepare for the battle with the undead. Then, I will talk the King into shielding the sceptre properly."
                [/message]

[kill]
description=Delfador
[/kill]
[kill]
 description=Clogrin
[/kill]
[kill]
 description=Aldrin
[/kill]
[kill]
         description=Theorsten
[/kill]
[kill]
         description=Igler
[/kill]
[kill]
         description=Larsin
[/kill]
[kill]
         description=Arthur
[/kill]
[kill]
               description=Droni
[/kill]
[kill]
 description=Glen
[/kill]


		[endlevel]
	result=victory
	#	bonus=yes
		[/endlevel]
[/event]
{@campaigns/Legend_of_Wesmere/utils/deaths.cfg}

[/scenario]
